.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card {
  border: 1px solid rgba(190, 190, 190, 0.5);
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 5px rgb(224, 224, 224);
  text-align: center;
}

.card img {
  width: 150px;
}

.card p {
  color: rgb(168, 168, 168);
  opacity: 0.8;
}
