.footer {
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 210px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: rgb(158, 158, 158);
  font-size: 16px;
  margin-top: 10px;
}

.list-inline {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.list-inline > li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 15px;
}

.fab {
  font-size: 2em;
  color: rgb(88, 197, 137);
}

.fab:hover {
  color: white;
}
